<div class="header-index text-center">
  <h1>#FIND</h1>
  <h3>THE FLAT OF YOU DREAMS</h3>
</div>

<div class="cards-index">
  <% @flats.each do |flat| %>
    <div class="card-index">
      <%= link_to(flat_path(flat)) do %>
        <div class="layer">
          <h3> <%= flat.name %> </h3>
          <p><%= flat.description %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="footer-index text-center">
  <p>You want to rent your appartment ? <%= link_to "Click here", new_flat_path(@flat) %></p>
</div>

